In [1]:
import pandas as pd

In [3]:
d = {'Name':['A','B',"C"],
    'Branch':['ECE','CSE','IT'],
    'Roll No.':['1','2','3']}

df = pd.DataFrame(d)
df

  Name Branch Roll No.
0    A    ECE        1
1    B    CSE        2
2    C     IT        3

In [16]:
df['Name']

0    A
1    B
2    C
Name: Name, dtype: object

In [17]:
df[0:1]

  Name Branch Roll No.
0    A    ECE        1

In [19]:
df['Branch'][0:1]

0    ECE
Name: Branch, dtype: object

In [22]:
df.head(1)

  Name Branch Roll No.
0    A    ECE        1

In [26]:
def sum(a,b):
    c=a+b
    return c

def mul(a,b):
    d=a*b
    return d

def sub(a,b):
    e=a-b
    return e

def div(a,b):
    f=a/b
    return f

def mod(a,b):
    g=a%b
    return g

a=int(input())
b=int(input())

print(sum (a,b))
print(mul(a,b))
print(sub(a,b))
print(div(a,b))
print(mod(a,b))

5
6
11
30
-1
0.8333333333333334
5

In [35]:
def table(a):
    for i in range(1,11):
        print(a*i)
    return
    
a=int(input())
table(a)

5
5
10
15
20
25
30
35
40
45
50

In [44]:
import math

def area(r):
    a=math.pi*r*r
    return a
def cir(r):
    b=2*math.pi*r
    return b
    
r=int(input())
print(area(r))
print(cir(r))

5
78.53981633974483
31.41592653589793

In [51]:
n=int(input())
a=0
b=1
print(a)
print(b)

for i in range(1,n-1):
    c=a+b
    a=b
    b=c
    print(c)

10
0
1
1
2
3
5
8
13
21
34

In [3]:
import random
scoreComp=0
scoreYou=0

for i in range(5):
    b=random.choice([1,2,3])
    a=int(input('Rock = 1, Paper = 2, Siccors = 3 : '))
    print('Computer',b)
    if a==b:
        print('Draw')
    elif a==1 and b==3:
        scoreYou+=1
    elif a==3 and b==2:
        scoreYou+=1
    elif a==2 and b==1:
        scoreYou+=1
    else:
        scoreComp+=1
print('Computer Score:',scoreComp)
print('Your Score:',scoreYou)
if scoreYou>scoreComp:
    print('You Win')
else:
    print('You loss')

Rock = 1, Paper = 2, Siccors = 3 : 1
Computer 1
Draw
Rock = 1, Paper = 2, Siccors = 3 : 1
Computer 2
Rock = 1, Paper = 2, Siccors = 3 : 1
Computer 1
Draw
Rock = 1, Paper = 2, Siccors = 3 : 1
Computer 1
Draw
Rock = 1, Paper = 2, Siccors = 3 : 1
Computer 1
Draw
Computer Score: 1
Your Score: 0
You loss