In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('SaratogaHouses.csv')

In [3]:
dataset.head()

,Unnamed: 0,price,lotSize,age,landValue,livingArea,pctCollege,bedrooms,fireplaces,bathrooms,rooms,heating,fuel,sewer,waterfront,newConstruction,centralAir
0,1,132500,0.09,42,50000,906,35,2,1,1.0,5,electric,electric,septic,No,No,No
1,2,181115,0.92,0,22300,1953,51,3,0,2.5,6,hot water/steam,gas,septic,No,No,No
2,3,109000,0.19,133,7300,1944,51,4,1,1.0,8,hot water/steam,gas,public/commercial,No,No,No
3,4,155000,0.41,13,18700,1944,51,3,1,1.5,5,hot air,gas,septic,No,No,No
4,5,86060,0.11,0,15000,840,51,2,0,1.0,3,hot air,gas,public/commercial,No,Yes,Yes

In [4]:
X = dataset[['livingArea', 'centralAir']].values

In [5]:
y = dataset['price'].values

In [6]:
pd.unique(dataset['centralAir'])

array(['No', 'Yes'], dtype=object)

In [7]:
X[:,-1]

array(['No', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
encoder = LabelEncoder()
X[:,-1] = encoder.fit_transform(X[:,-1])

In [10]:
X[:,-1]

array([0, 0, 0, ..., 0, 0, 0], dtype=object)

In [11]:
fuel = dataset['fuel'].values

In [12]:
pd.unique(fuel)

array(['electric', 'gas', 'oil'], dtype=object)

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
fuel = encoder.fit_transform(fuel)

In [15]:
fuel[:20]

array([0, 1, 1, 1, 1, 1, 2, 2, 0, 1, 2, 1, 0, 1, 2, 1, 2, 1, 2, 2])

In [16]:
fuel = fuel.reshape(-1, 1)

In [17]:
onehot = OneHotEncoder()
fuel = onehot.fit_transform(fuel)

C:\ProgramData\Anaconda2\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [18]:
fuel

<1728x3 sparse matrix of type '<type 'numpy.float64'>'
	with 1728 stored elements in Compressed Sparse Row format>

In [19]:
fuel.toarray()

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       ...,
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])